<div class="grid grid-cols-6 h-screen">
  <div class="col-span-1 p-5 h-full border-r border-stone-100 bg-slate-50">
    <%= render Sidebar::SidebarComponent.new(index:@sb_index)%>
  </div>
  <div class="col-span-5 p-5 h-screen bg-white">
    <%= content %>
  </div>
</div>